/* ---------- HEADER STYLES --------- */
header {
  height: 46.875rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  margin-bottom: 36.078rem;
}

.headerContent {
  width: clamp(21.875rem, 15.605rem + 28.662vw, 50rem);
  padding-block: 2.5rem;
  background-color: var(--secondary-color);
  padding-left: 6.5%;
  border-top-right-radius: 1px;
  padding-bottom: 2.7rem;
  transform: translateY(0.2rem);
}

.headerContent h1,
.headerContent h2 {
  color: var(--primary-color);
}

.headerContent h1 {
  margin-bottom: 1.5rem;
}

.headerContent h2:first-child {
  margin-bottom: 1.8rem;
}

.headerContent .subtitle h2 {
  padding-inline: clamp(0.313rem, 0.092rem + 0.704vw, 0.938rem);
}

.headerContent .subtitle .line {
  width: clamp(2rem, 0.944rem + 3.38vw, 5rem);
  height: 1px;
  background-color: var(--primary-color);
}

.headerContent .subtitle {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
}

/* --------- WAYS TRAVEL ------- */
/* --- PLANE --- */
.waysTravel {
  width: 100%;

  margin-bottom: 9.375rem;
}

.planeContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-image: url(../img/howCome/plane.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.planeText {
  background-color: var(--secondary-color);
  width: 57%;
  padding: 5rem 7.813rem;
  margin-left: auto;
  text-align: right;
  transform: translateY(-50%);
}

.planeText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.planeText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  margin-bottom: 3.125rem;
}

.planeText .sectionLine {
  margin-left: auto;
}

/* --- BOAT --- */
.boatContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-image: url(../img/howCome/port.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.boatText {
  background-color: var(--secondary-color);
  width: 57%;
  padding: 5rem 7.813rem;
  margin-right: auto;
  text-align: left;
  transform: translateY(-50%);
}

.boatText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.boatText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  margin-bottom: 3.125rem;
}

.boatText .sectionLine {
  margin-right: auto;
}

/* -------- MAPS --------- */
.maps {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: clamp(2.5rem, -5.833rem + 11.111vw, 7.5rem);

  margin-bottom: 14.375rem;
}

.mapsTitle {
  flex: 0 0 87%;
  margin-inline: auto;
}

.mapsTitle h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(2.5rem, 1.7rem + 1.667vw, 3.7rem);
}

.mapsTitle .sectionLine {
  margin-bottom: 6.25rem;
}

.mapImage {
  flex: 1 0 40%;
  aspect-ratio: 450 / 281;
  padding: 2.188rem;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mapImage span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--jose-regular);
  color: var(--secondary-color);
  font-size: var(--size-fourth-heading);
}

.flight {
  justify-content: flex-end;
  background-image: url(../img/howCome/routesMapPlane.jpg);
}

.boat {
  justify-content: flex-start;
  background-image: url(../img/howCome/shipMap.jpg);
}

/* ------------ RECOMENDED HOTELS ------------- */
.hotels {
  width: 87%;
  margin-inline: auto;
  text-align: center;

  margin-bottom: 9.375rem;
}

.hotelsTitle h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(3rem, 2.533rem + 0.972vw, 3.7rem);
}

.hotelsTitle .sectionLine {
  margin-inline: auto;
  margin-bottom: 6.25rem;
}

.hotelsCards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: clamp(2.188rem, -2.5rem + 6.25vw, 5rem);
}

.hotel h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-fourth-heading);
  font-weight: var(--jose-regular);
  margin-bottom: 2rem;
}

.hotel {
  flex: 1;
}

.hotel .hotelImage {
  width: 100%;
  aspect-ratio: 5 / 4;
  border-radius: 1px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3.75rem;
  position: relative;
}

.hotel .hotelImage::before {
  content: "";
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  aspect-ratio: 16 / 9;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.hotel:hover .hotelImage::before {
  bottom: 0;
}

.hotel:first-child .hotelImage {
  background-image: url(../img/howCome/criterion_hotel.jpg);
}

.hotel:nth-child(2) .hotelImage {
  background-image: url(../img/howCome/hotel_kamana.jpg);
}
.hotel:last-child .hotelImage {
  background-image: url(../img/howCome/makarora_hotel.jpg);
}

/* ----------- BANNER ----------- */
.banner {
  width: 100%;
  aspect-ratio: 16 / 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url(../img/howCome/bannerHowToCome.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 4.375rem;

  margin-bottom: 23.375rem;
}

.banner h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--jose-regular);
  font-style: italic;
  color: var(--secondary-color);
  font-size: var(--size-subt-hero);
}

.banner h5 {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-fourth-heading);
  font-weight: var(--mont-extralight);
  color: var(--secondary-color);
}

/* --------- MEDIO DE TRANSPORTE ---------- */
.transport {
  width: 100%;
  aspect-ratio: 16 / 10;
  background-image: url(../img/howCome/wellingtonCableCar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transportText {
  width: 63%;
  margin-inline: auto;
  background-color: var(--secondary-color);
  text-align: center;
  padding-block: 5rem;
  padding-inline: 3.75rem;
  transform: translateY(-9rem);
  border-radius: 1px;
}

.transportText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(3rem, 2.533rem + 0.972vw, 3.7rem);
}

.transportText .sectionLine {
  margin-inline: auto;
}

.transportText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  width: 90%;
  margin-inline: auto;
}

/* -------- MEDIA QUERIES -------------- */
@media screen and (max-width: 1750px) {
  .planeText,
  .boatText {
    width: 70%;
  }

  .planeContainer,
  .boatContainer {
    aspect-ratio: 16/10;
  }

  .transportText {
    width: 70%;
  }
}

@media screen and (max-width: 1450px) {
  .planeText,
  .boatText {
    width: 80%;
  }

  .planeText {
    padding-left: 4rem;
  }

  .boatText {
    padding-right: 3rem;
  }

  .planeContainer,
  .boatContainer {
    aspect-ratio: 16/12;
  }

  .maps {
    column-gap: 0;
  }

  .mapImage {
    aspect-ratio: 4 / 3;
  }

  .transportText {
    width: 85%;
  }
}

@media screen and (max-width: 1300px) {
  .planeText,
  .boatText {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .planeText,
  .boatText {
    background: none;
    margin: 0;
    padding: 0;
    transform: none;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 100px;
  }

  .planeContainer,
  .boatContainer {
    background: none;
    aspect-ratio: auto;
    margin-bottom: 200px;
  }

  .planeImage,
  .boatImage {
    width: 100%;
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .planeImage {
    background-image: url(../img/howCome/plane.jpg);
  }

  .boatImage {
    background-image: url(../img/howCome/port.jpg);
  }

  header {
    margin-bottom: 200px;
  }

  .mapImage {
    flex: 1 0 100%;
    aspect-ratio: 16/9;
  }

  .hotelsCards {
    gap: 0;
  }
  .hotel {
    flex: 1 0 47%;
    max-width: 47%;
  }

  .hotel:last-child {
    margin-inline: auto;
    margin-top: 100px;
  }

  .maps {
    margin-bottom: 200px;
  }

  .hotels {
    margin-bottom: 200px;
  }

  .banner {
    aspect-ratio: 16 / 7;
    gap: 3rem;
    margin-bottom: 200px;
  }

  .transportText p {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .transport {
    background: none;
    aspect-ratio: auto;
  }

  .transportText {
    width: 80%;
    padding: 0;
    background: none;
    transform: none;
    margin-bottom: 100px;
  }

  .transportImage {
    width: 100%;
    aspect-ratio: 14/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/howCome/wellingtonCableCar.jpg);
  }
}

@media screen and (max-width: 768px) {
  .planeText,
  .boatText {
    width: 87%;
  }

  .planeImage,
  .boatImage {
    aspect-ratio: 4 / 3;
  }

  .mapImage {
    aspect-ratio: 4/3;
  }

  .hotel {
    flex: 1 0 100%;
    max-width: none;
  }

  .hotel:last-child {
    margin-top: 0;
  }

  .hotel:not(.hotel:last-child) {
    margin-bottom: 100px;
  }

  .banner {
    aspect-ratio: 4/3;
  }

  .banner h2,
  .banner h5 {
    width: 87%;
  }

  .transportImage {
    aspect-ratio: 4/3;
  }

  .transportText {
    width: 87%;
  }
}

@media screen and (max-width: 500px) {
  .headerContent {
    margin-bottom: 10rem;
    background: transparent;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .headerContent h1,
  .headerContent h2 {
    color: var(--secondary-color);
  }

  .headerContent .subtitle {
    width: 100%;
    justify-content: center;
  }

  .headerContent .subtitle .line {
    background-color: var(--secondary-color);
  }

  .headerContent h2:first-child {
    margin-bottom: 1rem;
  }

  .headerContent h1 {
    margin-bottom: 1rem;
  }

  .parallax-mirror {
    display: none;
  }

  header {
    background-image: url(../img/howCome/hero_howToCome.jpg);
    background-attachment: scroll;
    margin-bottom: 150px;
  }

  .planeContainer,
  .boatContainer {
    margin-bottom: 150px;
  }

  .planeText p,
  .boatText p {
    text-align: justify;
  }

  .planeImage,
  .boatImage {
    aspect-ratio: 3 / 4;
  }

  .planeImage {
    background-position: 20%;
  }

  .mapImage {
    aspect-ratio: 3 / 3.3;
  }

  .maps {
    margin-bottom: 150px;
  }

  .hotels {
    margin-bottom: 150px;
  }

  .banner {
    aspect-ratio: 3 / 4;
  }

  .banner h2 {
    line-height: 3rem;
  }

  .banner {
    margin-bottom: 150px;
  }

  .transportImage {
    aspect-ratio: 3/4;
  }
  .transportText p{
    text-align: justify;
  }
}


/* Fix height strechedt hero */
@media screen and (max-height: 600px) {
  header {
    height: 600px;
    background-attachment: scroll;
    background-image: url(../img/howCome/hero_howToCome.jpg);
  }
  .mirror-parallax {
    display: none;
  }
}