header {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.headerContent {
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 1.8rem;
}

.headerContent .subtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 2.5rem;
}

.headerContent .line {
  width: clamp(5.313rem, 3.113rem + 9.385vw, 14.375rem);
  height: 1px;
  background-color: var(--secondary-color);
}

/* --------- ABOUT STYLES ---------- */
.aboutNZ {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  margin-bottom: 200px;
}

.aboutImageContainer {
  flex: 1;
}

.aboutImage {
  width: 63%;
  aspect-ratio: 1 / 1;
  background-image: url(../img/home/aboutNZ.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: 4.375rem;
  box-shadow: -50px 50px 0px rgba(0, 0, 0, 0.25);
}

.aboutText {
  flex: 1;
  margin-left: 4.375rem;
}

.aboutText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.aboutText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  width: 75%;
}

/* ----------- NEW ZEALAND HISTORY ---------- */
.history {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  margin-bottom: 14.375rem;
}

.historyText {
  flex: 0 0 50%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding-inline: 7.813rem;
}

.historyText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.historyText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
}

.historyImage {
  flex: 1;
  height: 38.75rem;
  background-image: url(../img/home/nz_history_moai.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------- LEGENDS STYLES ------------ */
.legends {
  width: 87%;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin-bottom: 14.375rem;
}

.legendsTitle {
  margin-bottom: 6.25rem;
}

.legendsTitle h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.legendsTitle .sectionLine {
  margin-inline: auto;
  margin-bottom: 0;
}

/* Legends cards */
.legendsCards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  gap: clamp(0rem, -1.333rem + 4.444vw, 4rem);
}

figure {
  flex: 1 0 30%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  overflow: hidden;
}

figure:first-child {
  background-image: url(../img/home/mito1.jpg);
}
figure:nth-child(2) {
  background-image: url(../img/home/mito2.jpg);
}
figure:last-child {
  background-image: url(../img/home/mito3.jpg);
}

figcaption {
  padding: 2.188rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

figcaption h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-fourth-heading);
  font-weight: var(--jose-regular);
  color: var(--secondary-color);
  font-style: italic;
  margin-bottom: 1.1rem;
}

figcaption p {
  font-family: Montserrat, sans-serif;
  font-size: clamp(1rem, 0.958rem + 0.139vw, 1.125rem);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  color: var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  animation: fadeOut 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

figure:hover figcaption {
  background-color: rgba(0, 0, 0, 0.6);
}

figure:hover figcaption p {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
  to {
    visibility: visible;
    max-height: 400px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    max-height: 400px;
    opacity: 1;
  }
  to {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
}

/* ------- MAORI CULTURE ---------- */
.maoriCulture {
  width: 100%;

  margin-bottom: 14.375rem;
}

.maoriCultureTitle {
  width: 100%;
  text-align: right;
  padding-right: clamp(1rem, -1.271rem + 7.569vw, 7.813rem);
  margin-bottom: 15.375rem;
}

.maoriCultureTitle h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
}

.maoriCultureTitle .sectionLine {
  margin-left: auto;
}

.maoriCultureContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-image: url(../img/home/maoriCulture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.maoriCultureText {
  width: 50%;
  background-color: var(--secondary-color);
  padding: 90px 125px;
  padding-top: 0;
  transform: translateY(-6rem);
}

.maoriCultureText h3 {
  font-size: var(--size-third-heading);
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--jose-regular);
  line-height: 3rem;
  margin-bottom: clamp(1.5rem, 0.667rem + 2.778vw, 4rem);
}

.maoriCultureText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
}

/* ------------- WILDLIFE ------------- */
.wildlife {
  width: 87%;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;
}

.wildlifeText {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
}

.wildlifeText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(2.5rem, 1.7rem + 1.667vw, 3.7rem);
}

.wildlifeText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  width: 85%;
}

.wildlifeImage {
  flex: 1 0 50%;
  aspect-ratio: 167 / 120;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wildlifeImage1 {
  background-image: url(../img/home/kiwi2.jpg);
}
.wildlifeImage2 {
  background-image: url(../img/home/tuatara.jpg);
}
.wildlifeImage3 {
  background-image: url(../img/home/kakapo.jpg);
}

/* -------- FLORA ----------- */
.flora {
  width: 87%;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  margin-bottom: 14.375rem;
}

.floraText {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  align-content: flex-end;
  text-align: right;
}

.floraText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(2.5rem, 1.7rem + 1.667vw, 3.7rem);
}

.floraText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  width: 85%;
  margin-left: auto;
}

.floraText .sectionLine {
  margin-left: auto;
}

.floraImage {
  flex: 1 0 50%;
  aspect-ratio: 167 / 120;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.floraImage1 {
  background-image: url(../img/home/kauri.jpg);
}
.floraImage2 {
  background-image: url(../img/home/flax.jpg);
}
.floraImage3 {
  background-image: url(../img/home/pohutukawa.jpg);
}

/* -------- FOOD ---------- */
.food {
  width: 100%;
  aspect-ratio: 16 / 10;
  background-image: url(../img/home/ostrasBluf.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foodText {
  width: 57%;
  margin-inline: auto;
  background-color: var(--secondary-color);
  padding: 3.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform: translateY(-7rem);
}

.foodText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-subt-hero);
  font-weight: var(--jose-light);
  line-height: clamp(2.5rem, 1.7rem + 1.667vw, 3.7rem);
}

.foodText p {
  font-family: Montserrat, sans-serif;
  font-size: var(--size-text);
  font-weight: var(--mont-extralight);
  line-height: var(--line-height);
  text-align: center;
}

/* -------- MEDIA QUERIES -------- */
@media screen and (max-width: 1750px) {
  .wildlifeImage, 
  .floraImage {
    aspect-ratio: 167 / 150;
  }
}
@media screen and (max-width: 1650px) {
  .historyText {
    flex: 0 0 55%;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1600px) {
  .foodText {
    width: 70%;
  }

  .maoriCultureText {
    padding-inline: 50px;
    padding-left: 7%;
  }
}

@media screen and (max-width: 1500px) {
  .aboutText {
    margin-left: 2rem;
  }
  .aboutText p {
    width: 90%;
  }
  .aboutImage {
    width: 70%;
  }

  .wildlifeText p,
  .floraText p {
    width: 95%;
  }

  .wildlifeImage1,
  .floraImage1 {
    aspect-ratio: 130 / 150 !important;
  }
  
}

@media screen and (max-width: 1450px) {
  .legends {
    width: 98%;
  }

  figure {
    aspect-ratio: 3 / 4;
  }
}

@media screen and (max-width: 1280px) {
  .historyText {
    padding-left: 5rem;
  }

  .foodText {
    width: 90%;
  }

  .wildlifeImage1,
  .floraImage1 {
    aspect-ratio: 120 / 150 !important;
  }
}

@media screen and (max-width: 1200px) {
  .aboutNZ {
    flex-flow: column wrap;
    width: 80%;
    margin-inline: auto;
  }
  .aboutImageContainer {
    order: 1;
    width: 100%;
  }
  .aboutImage {
    margin-inline: auto;
  }

  .aboutText {
    margin: 0;
    margin-bottom: 100px;
  }

  .aboutText p {
    width: 100%;
  }

  .historyText {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    width: 80%;
    margin-inline: auto;
  }

  .history {
    flex-flow: column nowrap;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 200px;
  }

  .historyImage {
    width: 90%;
    aspect-ratio: 6 / 4;
    margin-inline: auto;
  }

  .legends {
    margin-bottom: 200px;
  }

  .maoriCultureContainer {
    background: none;
  }

  .maoriCultureTitle {
    margin-bottom: 100px;
    width: 80%;
    margin-inline: auto;
    padding-right: 0;
  }

  .maoriCultureText {
    transform: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 100px;
  }

  .maoriCultureText h3 {
    line-height: var(--line-height);
  }

  .maoriCultureImage {
    width: 100%;
    aspect-ratio: 16 / 8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/home/maoriCulture.jpg);
  }

  .maoriCulture {
    margin-bottom: 200px;
  }

  /* wildlife */
  .wildlife {
    width: 100%;
  }
  .wildlifeText {
    order: 1;
    flex: 1 0 100%;
    margin-bottom: 100px;
  }

  .wildlifeText .container {
    width: 80%;
    margin-inline: auto;
  }

  .wildlifeText > .container > h2 > .br {
    display: inline-block;
  }

  .wildlifeText p {
    width: 100%;
  }

  .wildlifeImage {
    order: 2;
    margin-bottom: 100px;
  }

  .wildlifeImage3 {
    display: none;
  }
  /* flora */
  .flora {
    width: 100%;
  }
  .floraText {
    order: 1;
    flex: 1 0 100%;
    margin-inline: auto;
    margin-bottom: 100px;
  }

  .floraText p {
    width: 100%;
  }

  .floraText .container {
    width: 80%;
    margin-inline: auto;
  }

  .floraText > .container > h2 > .br {
    display: inline-block;
  }
  
  .floraText .sectionLine {
    margin-left: auto;
  }

  .floraImage {
    order: 2;
  }

  .floraImage3 {
    display: none;
  }

  .flora {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .food {
    background: none;
  }
  .foodText {
    width: 87%;
    background: none;
    padding: 0;
    margin-bottom: 100px;
    transform: none;
  }

  .foodImage {
    width: 100%;
    aspect-ratio: 14 / 9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/home/ostrasBluf.jpg);
  }
}

@media screen and (max-width: 980px) {
  .legends {
    width: 80%;
  }

  .legendsCards {
    flex-flow: column;
    row-gap: 6rem;
  }

  figure {
    aspect-ratio: 4 / 3.3;
  }
}

@media screen and (max-width: 960px) {
  .historyImage {
    width: 100%;
  }
  .history {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .aboutNZ {
    width: 100%;
    margin-bottom: 150px;
  }

  .historyText {
    width: 87%;
    margin-inline: auto;
  }

  .aboutText {
    width: 87%;
  }

  .aboutImage {
    box-shadow: none;
    width: 100%;
    aspect-ratio: 4 / 3;
  }

  .foodImage {
    aspect-ratio: 4 / 3;
  }

  .foodText h2 {
    text-align: center;
  }

  .maoriCultureText {
    width: 87%;
  }

  .maoriCultureImage {
    aspect-ratio: 4 / 3;
  }

  .wildlifeImage,
  .floraImage {
    flex: 1 0 100%;
    aspect-ratio: 4 / 3 !important;
  }

  .wildlifeImage1,
  .floraImage1 {
    margin-bottom: 0;
  }

  .wildlifeText .container,
  .floraText .container {
    width: 87%;
  }
}

@media screen and (max-width: 500px) {
  .mirror-parallax {
    display: none;
  }

  header {
    background-image: url(../img/home/hero_home3.jpg);
    background-attachment: scroll;
  }

  h1 {
    margin-bottom: 1.2rem;
  }

  .headerContent .subtitle {
    margin-bottom: 1.9rem;
  }

  .aboutText p {
    text-align: justify;
  }

  .aboutImage {
    aspect-ratio: 3 / 4;
  }

  .historyText p {
    text-align: justify;
  }

  .historyImage {
    aspect-ratio: 5 / 5.5;
  }

  figure {
    aspect-ratio: 4 / 5;
  }

  .legends {
    width: 95%;
  }

  .foodImage {
    aspect-ratio: 3 / 4;
  }

  .foodText p {
    text-align: justify;
  }

  .maoriCultureText p {
    text-align: justify;
  }

  .maoriCultureImage {
    aspect-ratio: 3 / 3.5;
  }

  .wildlifeImage {
    aspect-ratio: 3 / 3.5 !important;
  }

  .floraImage {
    aspect-ratio: 3 / 3.5 !important;
  }

  .wildlifeText .container p,
  .floraText .container p {
    text-align: justify;
  }
}

/* Fix height strechedt hero */
@media screen and (max-height: 600px) {
  header {
    height: 600px;
    background-attachment: scroll;
    background-image: url(../img/home/hero_home3.jpg);
  }
  .mirror-parallax {
    display: none;
  }
}